flows.json
[
    {
        "id": "bb97c7d7.f65f88",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bfaa8e08.462af",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e257f2a.069b5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "122cbd64.105b83",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "4567c4a8.9afbbc",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "122cbd64.105b83",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fe783350.8ad1d",
        "type": "http in",
        "z": "bb97c7d7.f65f88",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "54bd62f0.80803c"
            ]
        ]
    },
    {
        "id": "54bd62f0.80803c",
        "type": "template",
        "z": "bb97c7d7.f65f88",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <body>\n        <img src=\"./logo.png\" />\n    </body>\n</html>",
        "output": "str",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "cfb28688.cf4d08"
            ]
        ]
    },
    {
        "id": "cfb28688.cf4d08",
        "type": "http response",
        "z": "bb97c7d7.f65f88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd944857.99f038",
        "type": "http in",
        "z": "bb97c7d7.f65f88",
        "name": "",
        "url": "/ui",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "457d24a7.a1e6bc"
            ]
        ]
    },
    {
        "id": "457d24a7.a1e6bc",
        "type": "http response",
        "z": "bb97c7d7.f65f88",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2fcae99.ad718",
        "type": "ui_text",
        "z": "bfaa8e08.462af",
        "group": "4567c4a8.9afbbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 120,
        "y": 260,
        "wires": []
    }
]